In [1]:
import pandas as pd
import random as rn

In [2]:
data = pd.read_csv('Y:/SEM 6/Neural Networks/uk-500.csv')
data['id'] = [rn.randint(0,1000) for x in range (data.shape[0])]
data.head(5)

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,857
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,803
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,840
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,504
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,875

In [6]:
#data.iloc[0]
#data.iloc[1]
#data.iloc[-1]

#data.iloc[:,0]
data.iloc[:,1]
#data.iloc[:,-1]

0      Tomkiewicz
1       Zigomalas
2         Andrade
3       Mcwalters
4          Veness
5           Rampy
6        Grasmick
7           Hisaw
8        Manzella
9          Klapec
10         Writer
11            Erm
12          Jaret
13          Bruch
14      Gastellum
15      Throssell
16          Kanne
17          Julio
18       Spinello
19       Lapinski
20      Gutierres
21      Salvadore
22        Teplica
23         Veigel
24          Sitra
25         Kufner
26         Tauras
27       Molaison
28       Growcock
29         Quarto
          ...
470    Diazdeleon
471        Villot
472      Picciuto
473    Piatkowski
474          Rhea
475       Lohrenz
476         Walka
477        Ligons
478       Jentzen
479         Fling
480      Machalek
481       Alsaqri
482        Conoly
483       Dolloff
484       Reibman
485    Freeburger
486       Gaucher
487          Kono
488       Brigman
489    Schlabaugh
490     Ausdemore
491       Stancil
492       Fiorino
493       Manciel
494         Katie
495          Veit
496       Euresti
497      Brenning
498         Keeny
499        Richan
Name: last_name, Length: 500, dtype: object